.avatar {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .avatar-clip,
  img {
    display: block;
    height: inherit;
    width: inherit;
  }
}
.xs {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  .avatar-clip {
    img {
      width: 100%;
      height: auto;
      margin-top: -7px;
    }
  }
}
.xl {
  width: 130px;
  height: 160px;
}
