.community {
  .header {
    h2 {
      font-size: $bg-title-size;
      font-weight: 700;
      width: 83%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  .contentSm {
    margin: 32px 0;
    .carouselSlideSm {
      padding-left: 4px;
      padding-right: 4px;
      > div {
        margin-bottom: 8px;
      }
    }
  }
  .contentLg {
    margin: 64px 0 40px;
    .carouselSlideLg {
      display: flex;
      padding-left: 4px;
      padding-right: 4px;
      > div:first-of-type {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 33.33333%;
        padding-right: 4px;
        > div {
          flex: 0 0 auto;
        }
      }
      > div:last-of-type {
        width: 66.66667%;
        margin-left: 4px;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .community-btn {
    text-align: center;
    .fs-btn {
      width: 283px;
      font-size: 1.75rem;
      font-weight: 500;
    }
    padding-bottom: 35px;
  }
}
@media (min-width: 992px) {
  .community {
    .contentSm {
      display: none;
    }
  }
}
@media (max-width: 991px) {
  .community {
    .header h2 {
      font-size: 1.5rem;
    }
    .contentLg {
      display: none;
    }
    .community-btn {
      .fs-btn {
        font-size: 1.25rem !important;
        width: 162px;
        padding: 0.5rem 1rem;
      }
    }
  }
}

.imageContainer {
  display: block;
  position: relative;
}
.originalImage {
  position: absolute;
  top: 0;
  left: 0;
}
.blurredImage {
  opacity: 1;
  transition: opacity 0.4s;
}
.originalImage,
.blurredImage {
  display: block;
  width: 100%;
  height: 100%;
}
.isLoaded {
  .blurredImage {
    opacity: 0;
  }
}
