section.evento{
  background-color: $main-background-color;
  article{
    .content{
      background-color: white;
      margin: 30px 6px;
      border-radius: 7px;
      .image{
        .background-container {
          max-width: 100%;
          overflow: hidden;
          pointer-events: none;
          .background {
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            width: 100%;
            padding-bottom: 78%;
            overflow: hidden;
            pointer-events: none;
          }
        }      
      }
      .body{
        margin:15px;
        padding-bottom: 20px;
        .name{
          font-size: 20px;
          font-weight: 600;
          height:24px;
          display: block;/* or inline-block */
          text-overflow: ellipsis;
          word-wrap: break-word;
          overflow: hidden;
          color: #333333;
        }
        .datetime{
          margin-top: 10px;
          font-size: 13px;
          color:$basic-text-color;
        }
      }
    }
  }
  .pagination-wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
  }
}
@media (max-width:480px){
  .blog-page header{
    .blog-login{
      font-size: 1rem;
    }
    h1.title{
      font-size: 24px;
    }
  }
}