.wrapper {
  display: flex;
	width: 100%;
  background-color: $main-background-color;
  padding-top: 66px;  
  #show-responive-menu{
    display:none;
    position: absolute;
    width: 31px;
    height: 18px;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: 1.5rem;
    left: 2rem;
    border-color:transparent;    
    z-index: 1;
    background-color: transparent;
    .hamburger{
      span {
        position: absolute;
        right: 0;
        width: 30px;
        height: 2px;
        border-right: 5px;
        background-color: #000000;
        &:first-child{
          top: 0;
          -webkit-transition: all .2s;
          transition: all .2s;          
        }
        &:nth-child(2) {
          top: 8px;
          -webkit-transition: all .15s;
          transition: all .15s;
        }
        &:nth-child(3) {
          top: 16px;
          -webkit-transition: all .15s;
          transition: all .15s;
        }        
      }
    }
  }
	#sidebar {
		width: 320px;
    position: relative;
    padding-top:65px;
    left: 40px;
    height: 750px;
    color: $basic-text-color;
    .wrapper-side{
      background: white;
      padding: 35px 15px 15px 15px; 
      @import "_leftbar_profile";
    }
	}
  #content{
    flex-grow: 1;
  }
	&.three-column{
		#content{
      margin: 15px auto;
      width: calc(100% - 700px);
      .page-main{
        margin-top:20px;
        padding: 30px 50px 30px 60px;    
      }
		}
  }
  &.two-column{
		#content{
      padding-left: 60px;
      .page-main{
        margin-top:33px;
        padding: 30px;    
      }
		}
  }
	.rightbar{
		width: 320px;
    position: relative;
    top:65px;
    right: 30px;
    color: $basic-text-color;
    @import "./_wrapper_rightbar.scss";
  }
  .mobile-menu{
    display: none;
  }
}
@media (max-height: 830px) {
  .wrapper #sidebar {
    ul {
      li {
        a{
          margin: 25px 0 20px 0;
        }
        a[href]{
          margin:25px 0;
        }
      }
    }
    footer{
      bottom: 30px;
    }
  }
}
@media (max-height: 800px) {
  .wrapper #sidebar {
    ul {
      li {
        a{
          margin: 20px 0 18px 0;
        }
        a[href]{
          margin:20px 0;
        }
      }
      ul li a{
        margin-top: 15px!important;
        margin-bottom: 0px!important;
      }
    }
  }
}
@media (max-height: 770px) {
  .wrapper #sidebar {
    ul {
      li {
        a{
          margin: 15px 0 13px 0;
        }
        a[href]{
          margin:15px 0;
        }
      }
      ul li a{
        margin-top: 10px!important;
        margin-bottom: 0px!important;
      }
    }
    footer{
      bottom: 10px;
    }
  }
}
@media (min-width: 1300px){
  .wrapper{
    &.one-column{
      .container{
        max-width: 1300px;   
      }
      .post{
        .container{
          max-width: 1000px;   
        }        
      }
    }
  }
}
@media (min-width: 1400px){
  .wrapper{
    &.one-column{
      .container{
        max-width: 1400px;   
      }
    }
  }
}
@media (min-width: 1600px){
  .wrapper{
    &.one-column{
      .container{
        max-width: 1600px;   
      }
    }
  }
}
@media (max-width: 1200px) {
  .wrapper {
		&.three-column{
			#content{
        .page-main{
        }
			}
      .rightbar {
        display: none;
      }
    }
  }
}
@media (max-width: 1024px) {
  .wrapper {
  }
}
@media (max-width: 991px) {
	.wrapper {
    .mobile-menu{
      display: block;
      .menu-logo {
        margin: 10px auto 10px auto;
        width: 150px;
        a{
          display: inline-block;
          background-size: cover;
          vertical-align: middle;
          &:nth-last-of-type(1){
            height:35px;
            width:151px;
            background-position: right;
            background-image: url("/media/logos/black.png");
          }
        }
      }  
    }
    #show-responive-menu{
      display:block;
    }
		#content{
			padding-left: 0;		
		}
		&.three-column{
			#content{
        padding-left: 0;
        width: 100%;
        .page-main{
        }
			}
      #sidebar {
        display:none;
      }  
    }
    &.two-column{
      #content{
        padding-left: 0;		
        .page-main{
          margin-top:30px;
          padding: 10px;    
        }
      }
      #sidebar {
        display:none;
      }  
    }
	}
}
@media (max-width: 768px) {
  .wrapper {
    &.three-column{
      #content{
        .page-main{
          margin-top: 0px;
          padding: 0;
        }
      } 
    }
    .rightbar {
			display:none;
    }
  }
}