.wrapper {
	width: 100%;
  background-color: $main-background-color;
  #show-responive-menu{
    display:none;
    position: absolute;
    width: 31px;
    height: 18px;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: 1.5rem;
    left: 2rem;
    border-color:transparent;    
    z-index: 1;
    background-color: transparent;
    .hamburger{
      span {
        position: absolute;
        right: 0;
        width: 30px;
        height: 2px;
        border-right: 5px;
        background-color: #000000;
        &:first-child{
          top: 0;
          -webkit-transition: all .2s;
          transition: all .2s;          
        }
        &:nth-child(2) {
          top: 8px;
          -webkit-transition: all .15s;
          transition: all .15s;
        }
        &:nth-child(3) {
          top: 16px;
          -webkit-transition: all .15s;
          transition: all .15s;
        }        
      }
    }
  }
	#sidebar {
		width: 320px;
    position: fixed;
    top: 125px;
    left: 40px;
    height: 750px;
    z-index: 999;
    background: white;
    color: $basic-text-color;
    .wrapper-side{
      margin: 35px 15px 15px 15px; 
      @import "_leftbar_profile";
    }
	}
	&.three-column{
		#content{
      margin: 48px auto;
      width: calc(100% - 700px);
      .page-main{
        margin-top:20px;
        padding: 30px;    
      }
		}
  }
  &.two-column{
		#content{
      padding-left: 360px;
      .page-main{
        margin-top:33px;
        padding: 30px;    
      }
		}
  }
	#rightbar{
		width: 320px;
    position: fixed;
    top: 125px;
    right: 30px;
    height: 90vh;
    z-index: 999;
    background: #fff;
    color: $basic-text-color;
    @import "_shared_profile";
    .wrapper-rightbar{
      padding:30px;
      height: 100%;
      overflow-x: hidden;      
    }
  }
  .mobile-menu{
    display: none;
  }
}
@media (max-height: 830px) {
  .wrapper #sidebar {
    ul {
      li {
        a{
          margin: 25px 0 20px 0;
        }
        a[href]{
          margin:25px 0;
        }
      }
    }
    footer{
      bottom: 30px;
    }
  }
}
@media (max-height: 800px) {
  .wrapper #sidebar {
    ul {
      li {
        a{
          margin: 20px 0 18px 0;
        }
        a[href]{
          margin:20px 0;
        }
      }
      ul li a{
        margin-top: 15px!important;
        margin-bottom: 0px!important;
      }
    }
  }
}
@media (max-height: 770px) {
  .wrapper #sidebar {
    ul {
      li {
        a{
          margin: 15px 0 13px 0;
        }
        a[href]{
          margin:15px 0;
        }
      }
      ul li a{
        margin-top: 10px!important;
        margin-bottom: 0px!important;
      }
    }
    footer{
      bottom: 10px;
    }
  }
}
@media (max-width: 1200px) {
  .wrapper {
		&.three-column{
			#content{
        padding-right: 0;
        width: 100%;
        .page-main{
          margin-top:30px;
          padding: 10px 350px 10px 10px;    
        }
			}
    }
    #sidebar {
      display: none;
    }
  }
}
@media (max-width: 1024px) {
  .wrapper {
		&.three-column{
			#content{
				padding-right: 0;
        .page-main{
          margin-top:30px;
          padding: 10px;    
        }
			}
    }
    #sidebar {
      .responsive-menu{
        display:block;
      }    
    }
  }
}
@media (max-width: 991px) {
	.wrapper {
    .mobile-menu{
      display: block;
      .menu-logo {
        margin: 10px auto 10px auto;
        width: 150px;
        a{
          display: inline-block;
          background-size: cover;
          vertical-align: middle;
          &:nth-last-of-type(1){
            height:35px;
            width:151px;
            background-position: right;
            background-image: url("/media/logos/black.png");
          }
        }
      }  
    }
    #show-responive-menu{
      display:block;
    }
    #sidebar{
      visibility: hidden;
      opacity: 0;
      width: 100%;
      left: -100%;
      footer{
        margin: 0 auto;
        bottom: 20px;
        width:100%;
      }
    }
    #sidebar.responsive{
      visibility: visible;
      opacity: 1;
      left: 0;
      transition: opacity 0.3s linear,left 0.3s ease;  
      .menu-logo{
        margin-bottom: 20px;
      }    
      #hide-responive-menu{
        display: block;
        background: inherit;
      }
      ul{
        li a{
          margin: 10px 0 0 0;
          &[href]{
            margin: 20px 0;
          }
        }
        ul a{
          margin-top: 15px!important;
        }
      } 
    }
		#content{
			padding-left: 0;		
		}
    &.two-column{
      #content{
        padding-left: 0;		
        .page-main{
          margin-top:30px;
          padding: 10px;    
        }
      }
    }
	}
}
@media (max-width: 768px) {
  .wrapper {
    #rightbar {
			display:none;
    }
  }
}