.profile-image{
  margin-top: 20px;
  .avatar{
    display: flex;
    justify-content: center;  
    cursor: pointer;
  }
}
.profile-info{
  margin-top: 20px;
  .full-name{
    font-size: 24px;

  }
  .username{
    font-size: 16px;
    color:rgba($color: $basic-text-color, $alpha: 0.5);
    cursor: pointer;
  }
  .summary{
    margin-top: 10px;
    font-size: 13px;
    display: block;
    max-height: 100px;
    overflow: auto;    
    div{
      display: block;
    }
  }
  div{
    display: flex;
    justify-content: center;    
  }        
  .level{
    margin-top:10px;
    a{
      font-size:16px;
      color:$basic-text-color;
      opacity: 0.5;
    }
  }
  .objective-label{
    margin-top:40px;
    font-size:21px;
    cursor: pointer;
  }
  .objective-value{
    margin-top:10px;
    font-size:16px;
    font-weight: 400;
    color:$basic-text-color;
    opacity: 0.5;
    cursor: pointer;
  }
}
.social-info{
  margin-top: 30px;
  .col-4:first-child{
    border-right: 2px solid rgba(51,51,51,0.6);
    cursor: pointer;
  }
  .col-4:nth-child(2){
    cursor: pointer;
  }
  .col-4:last-child{
    border-left: 2px solid rgba(51,51,51,0.6);
    cursor: pointer;
  }
  .label{
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }
  .value{
    font-size:22px;
    font-weight: 500;
    text-align: center;
    .unit{
      padding-left: 8px;
    }
  }
}
.actions{
  margin-top: 22px;
  margin-left: -8px;
  .btn{
    margin: 8px;
    padding: 4px 15px;
    display: inline-block;
  }
  .dropdown{
    display: inline;
  }
}
.workout{
  margin: 40px 0 0 0;
  &>h3{
    font-size: 16px;
    font-weight: 400;
  }
  .progress-bar-wrapper{
    .medal-image{
      float:left;
      width:48px;
      img{
        height: 32px;
      }
    }
    .progress-bar-body{
      margin-bottom: 20px;
      span{
        padding:0;
        display: inline-block;
      }
      .label{
        width:172px;
        font-size: 16px;
        font-weight: 600;
      }
      .value{
        width:70px;
        text-align: right;
      }
      .progress{
        margin-top: 5px;
        height: 8px;
        background-color: $light-green-color;
        .progress-bar{
          background-color: $primary-button-background-color;
          opacity: 1!important;
        }
      }
    }
  }
}
.workout-progress{
  margin-top: 30px;
  .kt-widget26__content{
    flex-direction: row-reverse;
    .kt-widget26__number{
      display: inline-block;
      width: 50%;
      font-size: 16px;
      font-weight: 600;
      color:rgba($color: $basic-text-color, $alpha: 0.5);
      padding: 15px 0;
      text-align: right;
    }
    .kt-widget26__desc{
      display: inline-block;
      width: 50%;
      font-size: 24px;
      font-weight: 600;
      color:$basic-text-color;
    }
  }
}
  