$post-modal-icon-color:#F5F6F7;
$green-yellow-color: #c8dc50;
$bg-title-size: 3.85rem;
$basic-text-color: #333333;
$secondary-text-color: #0C2A49;
$normal-font-size: 1.3077rem;
$blug-button-color:#028fb4;
$main-background-color:#F2F3F6;
$secondary-background-color:#1A7998;
@mixin back-button{
  background-color: transparent;
  height: 48px;
  padding: 0 16px;
  color: #fff;
  transition: opacity 0.15s;
  border: 0;
  top: 0;
  left: 0;
  position: relative;
  .arrow-left {
    height: 1.5em !important;
  }
}
@mixin mobile-back-button{
  position: relative;
  left: 0;
}
@mixin search-section{
  background-color: white;
  margin-top: 40px;
  padding: 20px;
  border-radius: 5px;  
  .label{
    font-size: 16px;
    font-weight: 600;
    >div{
      float:right;
      a{
        font-size: 12px;
      }
    }
  }
  .result{
    margin: 20px 0 0 0;
    .item{
      padding:10px 0;
    }
  }
}
@mixin post-footer{
  .likes{
    display: inline-block;
    span{
      font-size: 16px;
      color:#707C89;
      &:nth-of-type(1){
        padding-right: 40px;
      }
      i{
        font-size: 20px;
        line-height: 24px;
        vertical-align: bottom;
      }
    }
    i.fa-heart{
      &.like{
        color:#D83B18;  
      }
    }
  }
  .share{
    display: inline-block;
    text-align: right;
    float: right;
    i{
      font-size: 20px;
      line-height: 24px;
      color:#707C89;
    }
  }
}