.chat-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 1rem 0 1rem 1rem;    
  header {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    align-items: center;
    h3 {
      margin: 0 0 0 10px;
      padding: 0;
      display: block;
      font-size: 1.1em;
      font-weight: 400;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 5px;
      width: 65px;
      margin-right: 15px;
      background-color: transparent;
    }        
  }  
  .chat-body{
    width: 400px;
    height: calc(100vh - 219px);
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-left: 12px;
    font-size: 14px;
    &::-webkit-scrollbar{
      width: 10px;
    }
    ::-webkit-scrollbar-thumb {
      background: #243140; 
    }    
    .chat-drop-down{
      border-radius: 5px;
      border:1px solid rgba(#b2b3b8, 0.8);
      background-color: white;
      .dropdown-item{
        &:first-of-type{
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        &:last-of-type{
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
    .chat-date{
      font-size: 12px;
      color:#9B9797;
    }  
    .chat-action{
      img{
        height: 20px;
        margin-top:-50px;
        margin-right: 10px;        
      }
    }
    &>div{
      &>div{
        &>div>div{
          width:400px;
        }
      }
    }
  }
  .chat-no-selected-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    p{
      font-size: 1.3em;
    }    
  }  
  footer{
    width: 100%;
    position: fixed;
    padding: 5px 10px;
    bottom:0px;
    margin-right: 13px;
    form{
      display:flex;
      flex-direction: row;
      border:1px solid rgba(#b2b3b8, 1);
      padding: 5px 10px;
      border-radius: 30px;
      background-color: white;
      .image-picker{
        padding-top: 3px;
        padding-right: 10px;
      }
      .mentions{
        flex-grow: 4;
        textarea{
          border: 0;
          outline: none;
        }
      }
      button{
        border:0;
        outline: none;
        background-color: white;
        &.emoji__button{

        }
        &.send{
          color:#AFCA32;
        }
      }
    }
  }
}
.chat-message-layout {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  justify-content: center; 
}

.chat-message-wrap {
  width: 850px;
  display: flex;
}

.chat-message-wrap-right{
  justify-content: flex-end;
  text-align: end;
}

.chat-message-wrap-left{
  justify-content: flex-start;
  text-align: start;
}


.chat-message-container-position-right {
  min-width: 120px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  text-align: left;
  align-items: center;
  margin: 10px 20px 10px 0;
  padding: 5px;
  background-color: #AFCA32;
  border-radius: 8px;
  color:white;
  &>span {
    padding: 0 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
  }  
  i.fal.fa-ellipsis-v{
    position: absolute;
    top: 20px;
    right: 15px;
    visibility: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding-left: 10px;
  }
  &:hover{
    i.fal.fa-ellipsis-v{
      visibility: visible;
    }
  }
}

.chat-message-container-position-left {
  min-width: 80px;
  align-items: flex-start;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color:white;
  align-items: center;
  margin: 10px 0 10px 0;
  padding: 5px;
  background-color: #F0EFEF;
  border-radius: 8px;
  color:#1A1919;
  &>span {
    color: #435f7a;
    font-weight: 500;
    padding: 0 5px;
    font-size: 14px;
    line-height: 1.5;
  }
  .username{
    font-size:12px;
    color:gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50px;
    font-weight: 600;
  }
  .fullname{
    font-size:12px;
    color:gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
  }
}
.chat-message-right-footer > span {
  width: 37px;
  display: inline-block;
  text-align: right;
  padding: 0;
  height: 20px;
  font-size: 10px;
  color: white;
  float: right;
  margin-top: 6px;
  i{
    padding-left: 4px;
  }
}

.chat-message-left-footer > span {
  width: 37px;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
  height: 20px;
  font-size: 10px;
  color: #9B9797;
  float: right;
  margin-top: 6px;
}
.chat-message-container-attachment { 
  width: 250px;
  height: 250px;
  padding: 3px
}

.overlay-chat-attachment{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 246, 246, 0.8);
}

.active-window-modal-attachment{
  display: flex;
  flex-direction: column;
  > svg {
    font-size: 30px;
    position: absolute;
    background-color: black;
    border-color: white;
    border-radius: 50%;
    right: 0;
    outline: none;
    cursor: pointer;
  }  
}