.newsfeed{
  margin: auto;
  max-width:680px;
  &.suggested-header{
    >div>div{
      background-color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 0px 0px 1px rgba(12, 42, 73, 0.35);    
      border-bottom: 0.5px solid rgba(12, 42, 73, 0.05);
    }
    .old-posts-button{
      float: right;
      margin-top: -37px;
      margin-right: 10px;
      color:#008EB2;      
    }
  }
  .loading-container{
    position: relative;
    img{
      display: block;
      width:100px;
      margin:auto;
    }
  }
}
.suggested-header + .newsfeed{
  .social-post{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.tag-post{
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(12, 42, 73, 0.35);
  margin-bottom: 20px;
  font-size: 16px;
  padding: 20px 23px 20px 23px;
  button{
    float:right;
    background-color: transparent;
    color: $basic-text-color;
    border: 0;
    position: relative;    
    i{
      font-size: 24px;
    }
  }
}
.social-post{
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(12, 42, 73, 0.35);
  margin-bottom: 20px;
  &.join{
    .post-header{
      .post-time{
        margin-left: 8px;
        margin-top: -1px;        
      }  
    }  
  }
  .post-header  {
    padding:23px 23px 13px 23px;
    .avatar{
      margin-right: 10px;        
    }
    .follower:last-of-type{
      .spot{
        display:none;
      }
    }
    .dropdown{
      display: inline-block;
      float:right;
      button{
        padding: 0;
        margin: 0;
        i{
          padding-right: 0;
        }
      }
    }
    .article-type{
      float:right;
      margin-top: 2px;
      border-radius: 3px;
      background-color: #AFCA32;
      color:white;
      font-size: 14px;
      padding:4px 31px;
    }
    .post-time{
      color:#A8AEB5;
      font-size: 10px;
      margin-left: 40px;
      margin-top:-12px;
    }
    span span .open-map, span span .follower-button{
      max-width: 150px;
      white-space: nowrap;
      overflow: hidden;              
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: top;
    }
    span span .open-map{
      vertical-align: top;
    }
  }
  .post-body{
    padding: 0 23px 15px 23px;
    .html-content{
      .read-more__button{
        margin-top: -20px;
        padding-left:10px;
        background-color: white;
      }
    }
  }
  .medias-container{
    position: relative;
    .medias-body{
      position: relative;
      .medias{
        position: relative;
        .wrapper{
          position: absolute;
          overflow: hidden;
          justify-content: center;
          display: flex;
          align-items: center;
          padding-top: 0;
          .item{
            position: relative;
            width: 100%;
            height: 100%;
            word-wrap: break-word;
            .video-react{
              position: unset;
              background-color: transparent;              
            }
            &>img,&>video{
              width:100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .additional{
            color: white;
            font-size: 29px;
            font-weight: 900;
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;          
          }
        }
      }
    }
  }
  .post-footer{
    padding:23px 23px 10px 23px;
    @include post-footer;
  }
  .post-comments{
    padding: 0 23px 23px 23px;
    .append{
      font-size: 12px;
      color:rgba($basic-text-color, 0.5);
    }
    .comment-view{
      padding: 5px 0;
      font-size: 12px;
      &.reply{
        padding-left: 20px;
      }
      .avatar{
        display: inline-block;
        vertical-align: top;
      }
      .body{
        width:calc( 100% - 48px);
        padding-left: 5px;
        display: inline-block;
        margin-top: -3px;
        .author{
          font-weight: bold;
        }
        .actions{
          button{
            border:0;
            background-color: transparent;
            color:rgba($basic-text-color, 0.5);
            &:hover{
              font-weight: bold;
            }
          }
          .like-comment{
            color:rgba($basic-text-color, 0.5);
          }
          .comment-time{
            display: inline;
            font-size:9px;
            color:rgba($basic-text-color, 0.5);
          }
        }
      }
      .popup-actions{
        width: 15px;
        display: inline-block;
        vertical-align: top;
        padding-top: 10px;        
        .dropdown{
          .btn{
            padding: 0;
            margin: 0;
          }
        }
        .like.fa-heart{
          color:#D83B18;
        }
      }
      form{
        margin-bottom: -15px;
        .comment-input-container{
          border: 1px solid #ebebeb;
        }
      }
    }
    .comment-append-replies{
      padding-left: 20px;
    }
    form{
      margin:0 -24px -35px -24px;
      textarea{
        width: calc(100% - 50px);
      }
      button{
        border:0;
        background-color: transparent;
        float: right;
      }
      .comment-input-container{
        .mentions__highlighter,.mentions__input{
          padding: 0 1rem;
        }
        .send-text{
          font-size: 10px;
          font-weight: 600;
          padding-right: 5px;
          padding-top: 16px;
          color:$basic-text-color;
        }
      }
    }
  }
}
.post-page{
  margin-top: 45px;
}
.follower-button{
  background-color:transparent;
  border:0;
  color:$secondary-background-color !important;
  padding:0;
}
.absolute.center{
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center;
  height: calc(85vh - 70px);
  .item{
    .first-text{
      text-align: center;
      font-size: 24px;   
      font-weight: 600;
    }
    .second-text{
      text-align: center;
      font-size: 22px;   
    }
  }
}
.tag-follower{
  display: block;
  .avatar{
    display: inline-block;
    margin: 5px;
    vertical-align: top;
  }
  .info{
    display: inline-block;
    margin-top: 2px;
    color:$basic-text-color;
    .username{
      margin-top: -3px;
      color:rgba($basic-text-color, 0.5);
    }
  }        
}
@media (max-width: 1100px) {
  .newsfeed{
    max-width:590px;    
  }
}
@media (max-width: 590px) {
  .newsfeed{
    margin-left: -10px;
    margin-right: -10px;
  }
  .social-post{
    .post-header {
      span{
        .full-name{
          .link-profile{
            white-space: nowrap;
            overflow: hidden;              
            text-overflow: ellipsis;
            display: inline-block;
            vertical-align: top;      
            max-width: 150px;
          }
        }
        span {
          .open-map{
            max-width: 70px;
          }
          .follower-button{
            max-width: 70px;
          }
        }
      }
    }
    .post-comments form{
      margin:0 -20px -35px -30px      
    }
  }
}
@media (max-width: 490px) {
  .social-post{
    .post-header {
      span{
        .full-name{
          .link-profile{
            max-width: 100px;
          }
        }
        span {
          .open-map{
            max-width: 50px;
          }
          .follower-button{
            max-width: 50px;
          }
        }
      }
    }
  }
}